install
url --url http://www.gtlib.gatech.edu/pub/fedora.redhat/linux/releases/20/Everything/x86_64/os/

lang en_US.UTF-8
keyboard us
timezone UTC

network --bootproto=dhcp
rootpw vagrant
authconfig --enableshadow --passalgo=sha512
firewall --disabled
selinux --disabled

bootloader --location=mbr
text
skipx
zerombr
clearpart --all --initlabel
autopart

auth  --useshadow  --enablemd5
firstboot --disabled
reboot
user --name=vagrant --plaintext --password vagrant

%packages --nobase
@Core
@Development Tools
@C Development Tools and Libraries
kernel-devel
kernel-headers
nfs-utils
wget
dkms
tar
bzip2
vim
-linux-firmware
-plymouth
-plymouth-core-libs
%end

%post

# sudo
echo 'Defaults:vagrant !requiretty' > /etc/sudoers.d/vagrant
echo '%vagrant ALL=(ALL) NOPASSWD: ALL' >> /etc/sudoers.d/vagrant
chmod 440 /etc/sudoers.d/vagrant
%end
